<section class="hero is-large is-bold has-bg-img">
  <div class="hero-body">
    <div class="container has-text-left">
      <div class="columns">
        <div class="column">
          <h1 class="title has-text-white">Discover new places.</h1>
          <h2 class="subtitle has-text-light">Find guides to enhance your experience.</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-large" type="text" placeholder="Where do you want to explore?">
              <span class="icon is-large is-right">
              <i class="fas fa-search"></i>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>